/* 步骤设计器图标 */
  .person-icon {
    background-size: 18px 18px;
    background: url("./icon/step/person18.svg") no-repeat;
  }
  .email-icon {
    background-size: 18px 18px;
    background: url("./icon/step/email18.svg") no-repeat;
  }
  .select-icon {
    background-size: 18px 18px;
    background: url("./icon/step/select18.svg") no-repeat;
  }
  .sub-icon {
    background-size: 18px 18px;
    background: url("./icon/step/sub18.svg") no-repeat;
  }
  .rest-icon {
    background-size: 18px 18px;
    background: url("./icon/step/rest18.svg") no-repeat;
  }
  .doc-icon {
    background-size: 18px 18px;
    background: url("./icon/step/doc18.svg") no-repeat;
  }
  .deci-icon {
    background-size: 18px 18px;
    background: url("./icon/step/deci18.svg") no-repeat;
  }
  .goto-icon {
    background-size: 18px 18px;
    background: url("./icon/step/goto18.svg") no-repeat;
  }
  .end-icon {
    background-size: 18px 18px;
    background: url("./icon/step/end18.svg") no-repeat;
  }

  .person-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/person16.svg") no-repeat;
  }
  .email-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/email16.svg") no-repeat;
  }
  .select-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/select16.svg") no-repeat;
  }
  .sub-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/sub16.svg") no-repeat;
  }
  .rest-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/rest16.svg") no-repeat;
  }
  .doc-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/doc16.svg") no-repeat;
  }
  .deci-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/deci16.svg") no-repeat;
  }
  .goto-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/goto16.svg") no-repeat;
  }
  .end-icon-min {
    background-size: 16px 16px;
    background: url("./icon/step/end16.svg") no-repeat;
  }
/* 展开收起图标 */
  .arrow-down {
    background-size: 20px 20px;
    background: url("./icon/arrow-down-o.svg") no-repeat;
  }
  .arrow-right {
    background-size: 20px 20px;
    background: url("./icon/arrow-right-o.svg") no-repeat;
  }
  .full-icon {
    background-size: 20px 20px;
    background: url("./icon/full-icon.svg") no-repeat;
  }
  .full-icon:hover {
    background-size: 20px 20px;
    background: url("./icon/full-icon-hover.svg") no-repeat;
  }
  .sort-icon {
    background-size: 20px 20px;
    background: url("./icon/sort-icon.svg") no-repeat;
  }
  .sort-icon:hover {
    background-size: 20px 20px;
    background: url("./icon/sort-icon-hover.svg") no-repeat;
  }
  .close-icon {
    background-size: 20px 20px;
    background: url("./icon/close-icon.svg") no-repeat;
  }
  .close-icon:hover {
    background-size: 20px 20px;
    background: url("./icon/close-icon-hover.svg") no-repeat;
  }
  .left_move_icon {
    background-size: 36px 36px;
    background: url("./icon/left_move_icon.svg") no-repeat;
  }
  .right_move_icon {
    background-size: 36px 36px;
    background: url("./icon/right_move_icon.svg") no-repeat;
  }
/* 选择步骤面板样式 */
  .menu_contain {
    width: 398px;
    border: 1px solid rgba(1, 1, 1, 0.3);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(6px);
    cursor: pointer;
    box-shadow: 0 0 8px #cccccc;
  }
  .menu_content_title {
    width: 100%;
    margin-bottom: 6px;
    /* background: #E8EDF1; */
    background-color: #F3F5FA;
    height: 38px;
    padding: 10px;
    font-size: 18px;
    line-height: 38px;
  }
  .menu_content_title .text {
    position: absolute;
    top: 0;
  }
  .menu_contain span{
    margin-bottom: 6px;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    display: inline-block;
    text-align: left;
  }
  .menu_contain span:hover {
    background-color: #F2F2F2;
    cursor: pointer;
  }
  .step_icon {
    width: 16px;
    height: 16px;
    margin: 10px;
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    /* background-color: #BEBDBD; */
    cursor: pointer;
  }
/* 嵌套流程步骤样式 */
  .start_node {
    position: relative;
    margin: 0 auto;
    max-width: 66%;
    height: 30px;
    border-radius: 33px;
    /* border: 3px solid #aaaaaa; */
    border: 3px solid #CDD6EC;
    -webkit-transition: max-width .3s ease;
    transition: max-width .3s ease;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
  .start_node:hover {
    max-width: 68%;
    -webkit-transition: max-width .3s ease;
    transition: max-width .3s ease;
  }
  .click_mode {
    margin: 0 auto;
    width: 328px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
  .start_text_name, .text_name {
    line-height: 28px;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    color:rgb(68, 68, 68);
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    height: 26px;
    background: transparent;
  }
  .start_text_name {
    width: 135px;
  }
  .text_name {
    display: inline-block;
    max-width: 286px;
    white-space: nowrap;
  }
  .select_bind_num {
    margin-bottom: 16px;
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    color: #5f8dd3;
  }
  .delet_select {
    position: absolute;
    right: 0;
    top: 3px;
    width: 36px;
    height: 30px;
    line-height: 36px;
    cursor: pointer;
  }
  .sub_next_node {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 598px;
    height: auto;
    /* border: 2px solid #1A1A1A; */
    border: 2px solid #CDD6EC;
    border-radius: 8px;
    /* background-color: hsla(0, 0%, 100%, 1); */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    /* box-shadow: 0px 2px 3px rgb(164, 165, 167); */
    overflow: hidden;
    font-size: 12px;
  }
  .open_sub_next_node {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 598px;
    height: auto;
    /* height: 348px; */
    /* border: 2px solid #1A1A1A; */
    border: 2px solid #CDD6EC;
    border-radius: 8px;
    /* background-color: hsla(0, 0%, 100%, 1); */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    /* box-shadow: 0px 2px 3px rgb(164, 165, 167); */
    box-shadow: 0px 3px 6px rgb(225, 230, 248);
    overflow: hidden;
    font-size: 12px;
  }
  .select_line_btn, .line_btn {
    position: relative;
    top: -35px;
    bottom: 0;
    /* left: 0; */
    right: 0;
    margin: 0 auto;
    width: 50%;
    height: 32px;
  }
  .select_line_btn {
    left: -4px;
  }
  .line_btn {
    left: -5px;
  }
  .add_btn_bg {
    position: absolute;
    top: 3px;
    left: -0.5px;
    right: 0;
    margin: 6px auto;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 3px solid #fff;
    background: #fff;
    cursor: pointer;
  }
  .add_btn {
    position: absolute;
    top: 3px;
    left: -0.5px;
    right: 0;
    margin: 6px auto;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: url("./icon/add.svg") no-repeat;
    background-color: #fff;
    border: 2px solid #C0C6D6;
    cursor: pointer;
  }
  .add_btn:hover {
    margin: 5px auto;
    background-color: #5093E1;
    background: url("./icon/add-hover.svg") no-repeat;
    border: 3px solid #5093E1;
  }
  .connect_line {
    width: 49.55%;
    height: 32px;
    /* border-right: 4px solid #999999; */
    border-right: 4px solid #C0C6D6;
  }

/* 主流程步骤节点头部公共样式 */
  .step_header {
    height: 69px;
    width: 100%;
    line-height: 30px;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
    border-bottom: 1px solid #CDD6EC;
    /* border-bottom: 1px solid #bbbbbb; */
    /* background-image: -webkit-linear-gradient(top,#f5f5f5,#eee) !important; */
  }
  .step_header .title {
    margin-top: 6px;
    width: 100%;
    height: 26px;
  }
  .step_header .title i {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 0;
    color: #000;
    font-size: 26px;
    line-height: 20px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
  }
  .step_header .title i:hover {
    color: #cc1c15;
    /* background-color: #cc1c15; */
    /* border-radius: 20px; */
  }
  .step_header .title span {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 0;
    color: #000;
    font-size: 26px;
    line-height: 20px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
  }
  .step_header .title span:hover {
    color: #72A83F;
    /* background-color: #72A83F; */
    /* border-radius: 20px; */
  }
  .step_header .title .icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 0;
    float: left;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    /* background-color: #fff; */
    cursor: pointer;
    text-align: center;
  }
  .step_header .title .icon:hover {
    color: #000;
  }
  .step_header .title .name {
    float: left;
    margin-left: 2px;
    /* display: inline-block; */
    /* width: 469px; */
    width: 68%;
    height: 30px;
    line-height: 30px;
    color:rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: none;
  }
  .step_header .sub_title {
    float: left;
    padding-left: 32px;
    width: 100%;
    height: 26px;
  }
  .step_header .sub_title .icon {
    width: 20px;
    height: 20px;
    margin: 3px 5px 5px 0;
    border-radius: 0;
    float: left;
    color: #666666;
    font-size: 26px;
    line-height: 20px;
    /* background-color: #fff; */
    cursor: pointer;
    text-align: center;
  }
  .step_header .sub_title .icon:hover {
    color: #000;
  }
  .step_header .sub_title .name {
    float: left !important;
    text-align: left;
    width: 388px;
    color: #666666;
    line-height: 26px;
    font-size: 13px;
    overflow: hidden;
    cursor: pointer;
    height: 26px;
    background: transparent;
    /* border: none; */
  }
  .icon-bg {
    display: inline-block;
    margin: 0 16px 0 0;
    width: 20px;
    height: 20px;
    color: #666666;
  }
  .icon-bg-start {
    position: absolute;
    left: 36%;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .step_form {
    width: 100%;
    /* height: 264px; */
    height: auto !important;
    /* overflow: hidden; */
    padding-bottom: 26px;
    /* border-bottom: 1px solid #bbbbbb; */
  }
  /* .border_bottom {
    border-bottom: 1px solid #C0C6D6;
  } */

/* 步骤表单样式 */
  .border_color {
    border: 1px solid #D4D4D4;
  }
  .full_width {
    width: 100% !important;
  }
  .margin_empty {
    margin: 0 !important;
  }
  .margin_top_eighteen {
    margin: 18px 0 0 0 !important;
  }
  .com_input_label {
    max-width: 100%;
    margin: 18px 0 5px 0;
    color: #636363;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    cursor: default;
  }
  .form_field_string {
    padding-top: 8px;
    width: 80%;
    line-height: 18px;
    display: inline-block;
    word-wrap: break-word;
  }
  .start_form_body {
    width: 100%;
    margin-bottom: 38px;
    height: auto;
  }
  .form_first_select, .form_second_select {
    width: 436.5px !important;
  }
  .email_form_select {
    width: 400.6px !important;
    margin-bottom: 18px !important;
  }
  .email_receiver {
    width: 218px !important;
    margin-bottom: 18px !important;
  }
  .goto_select {
    width: 88% !important;
    margin-bottom: 18px !important;
  }
  .form_value {
    margin: 0 auto;
    width: 436.5px;
    text-align: left;
    font-size: 13px;
  }
  .start_open_form_edit, .open_form_edit {
    /* float: right; */
    margin: 6px 3px 0 0;
    padding: 1px 4px;
    height: 26px;
    color: #fff;
    font-size: 15px;
    font-family: 'Lato',sans-serif;
    /* background: #36A7C8; */
    background: #409EFF;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
  }
  .start_open_form_edit {
    float: right;
  }
  .open_form_edit {
    vertical-align: middle;
    line-height: 24px;
    /* padding: 0 8px; */
  }
  .start_open_form_edit:hover, .open_form_edit:hover {
    /* background: #2A8198; */
    background: #409EFF;
  }
  .form_body {
    width: 88%;
    height: auto;
    margin: 0 38px;
  }
  .form_select_text {
    margin-left: 6px;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    color: #636363;
  }
  .tableBox {
    margin-top: 18px;
  }
  /* .tableBox th {
    padding: 0 !important;
    height: 10px !important;
    line-height: 10px !important;
  }
  .tableBox td {
    padding: 0 !important;
    height: 10px !important;
    line-height: 10px !important;
  } */
  .height_btn {
    width: 100%;
    text-align: right;
    /* float: right; */
    margin-top: 8px;
  }

  /* 弹窗表单样式 */
  .el-dialog__wrapper {
    background: #383838 !important;
  }
  .el-header-title {
    height: 94px !important;
    background-image: -webkit-linear-gradient(top,#faf9f9,#ecf0f5)!important;
    /* background: #E8EDF1 !important; */
    /* background: #F3F5FA !important; */
    color: #333;
    /* border-bottom: 1px solid #A4ACB9; */
  }
  .title-content {
    height: 88px;
    line-height: 88px;
    font-size: 28px;
    font-weight: normal !important;
    padding:15px 20px;
    margin-bottom: 18px;
  }
  /* .edit_select_form {
    width: 100%;
    height: auto;
    margin: 16px 8px 30px 8px !important;
  } */
  .condition_btn, 
  .depend_on_btn, 
  .input_output_map_btn, 
  .input_value_type_btn,
  .output_value_type_btn,
  .add_reduce_btn 
  {
    color: #fff !important;
    font-size: 15px !important;
    margin-right: 1px !important;
    /* background: #36A7C8 !important;
    border: 1px solid #36A7C8 !important; */
  }
  .condition_btn {
    padding: 8px 68px !important;
  }
  .depend_on_btn {
    padding: 8px 91px !important;
  }

  .condition_btn:hover, 
  .depend_on_btn:hover, 
  .input_output_map_btn:hover, 
  .input_value_type_btn:hover,
  .output_value_type_btn:hover,
  .add_reduce_btn:hover 
  {
    color: #fff !important;
    /* background: #2A8198 !important;
    border: 1px solid #2A8198 !important; */
  }

  .depend_on_btn_selected, 
  .depend_on_btn_selected:hover, 
  .conditionBtn_selected, 
  .conditionBtn_selected:hover, 
  .input_output_map_selected, 
  .input_output_map_selected:hover, 
  .input_value_type_btn_selected, 
  .input_value_type_btn_selected:hover,
  .output_value_type_btn_selected, 
  .output_value_type_btn_selected:hover
  {
    color: #333 !important;
    font-size: 15px !important;
    margin-right: 2px !important;
    background: #D4D4D4 !important;
    border: 1px solid #333 !important;
  }
  /* 删除按钮默认样式 */
  .false_btn {
    padding: 10px 16px !important;
    color: #fff !important;
    font-size: 15px !important;
    margin-right: 1px !important;
    background: #D35F5F !important;
    border: 1px solid #D35F5F !important;
  }
  .false_btn:hover {
    background: #C83737 !important;
    border: 1px solid #C83737 !important;
  }
  .depend_on_btn_selected {
    padding: 8px 91px !important;
  }
  .split_line {
    /* border-top:1px solid #eeeeee; */
    margin-top: 38px;
    padding-top:18px;
  }
  .split_deep_line {
    border-top:1px solid #000;
    margin-top: 8px;
    padding-top:18px;
  }
  .dialog_footer {
    padding-top: 18px;
    width: 100%;
    /* border-top: 1px solid #ccc; */
  }

  /* 人工步骤表单样式 */
  .input_output_map_btn, .input_output_map_selected {
    padding: 6px 50px !important;
  }
  .input_value_type_btn, .input_value_type_btn_selected {
    padding: 6px 107px !important;
  }
  .output_value_type_btn, .output_value_type_btn_selected {
    padding: 6px 63px !important;
  }
  .add_reduce_btn {
    padding: 10px 16px !important;
  }
  .dis_add_reduce_btn {
    padding: 10px 16px !important;
    color: #fff !important;
    font-size: 15px !important;
    margin-right: 1px !important;
    /* background: #9BB3B9 !important;
    border: 1px solid #9BB3B9 !important; */
  }
  .single_txt{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #333;
  }
  /* 选中节点 */
  .selected {
    /* box-shadow: 0px 0px 18px rgb(48, 155, 255) !important; */
    /* box-shadow: 0px 2px 3px #628eda !important; */
    box-shadow: 0px 2px 3px rgb(164, 165, 167);
  }
  /* .disSelected {
    box-shadow: 0px 0px 6px 1px rgb(161, 160, 160) !important;
  } */